extends layout

block content
  // Add Task Section
  form(action='./addTask' method='POST' class='form-registration mb-4')
    div(class='row align-items-center')
      div(class='col-md-2')
        label(for="taskName" class='fs-5 fw-bold') New task
      div(class='col-md-8')
        input(class="form-control form-control-lg" type="text" name='taskName' placeholder="Enter new task here")
      div(class='col-md-2 text-end')
        button(class='btn btn-success btn-lg' type='submit') Add task

  // Current Tasks Section
  h5(class='my-4') Current tasks
  div(class='row mb-3 border-bottom border-3 align-items-center')
    div(class='col-md-6 fw-bold') Task
    div(class='col-md-2 fw-bold') Created
    div(class='col-md-2 fw-bold text-center') Action
    div(class='col-md-2 fw-bold text-center') Delete

  each task in currentTasks
    div(class='row mb-3 align-items-center')
      div(class='col-md-6') #{task.taskName}
      div(class='col-md-2') #{format(task.createDate, "yyyy-MM-dd")}
      div(class='col-md-2 text-center')
        form(action='./completeTask' method='POST')
          input(type='hidden' name='_id' value=`${task._id}`)
          button(class='btn btn-primary btn-sm') Complete
      div(class='col-md-2 text-center')
        form(action='./deleteTask' method='POST')
          input(type='hidden' name='_id' value=`${task._id}`)
          button(class='btn btn-danger btn-sm') Delete

  // Completed Tasks Section
  h5(class='my-4') Completed tasks
  div(class='row mb-3 border-bottom border-3 align-items-center')
    div(class='col-md-8 fw-bold') Task
    div(class='col-md-2 fw-bold') Created
    div(class='col-md-2 fw-bold') Completed

  each task in completedTasks
    div(class='row mb-3 align-items-center')
      div(class='col-md-8') #{task.taskName}
      div(class='col-md-2') #{format(task.createDate, "yyyy-MM-dd")}
      div(class='col-md-2') #{format(task.completedDate, "yyyy-MM-dd")}

